/*
 * File: home.styles.scss
 * Project: portfolio
 * File Created: Sunday, 4th June 2023 10:51:23 pm
 * Author: Paul Adrian Reyes (paulreyes74@yahoo.com)
 * GitHub: https://github.com/alcoranpaul
 * -----
 * Last Modified: Friday, 9th June 2023 1:33:58 pm
 * Modified By: PR (paulreyes74@yahoo.com>)
 * -----
 * -----
 * Description:
 */

.def{
    background-color: aqua;
}

.box {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 0 auto;
    border: 2px solid black;
}