/*
 * File: projectPreview.styles.scss
 * Project: portfolio
 * File Created: Friday, 9th June 2023 4:17:27 pm
 * Author: Paul Adrian Reyes (paulreyes74@yahoo.com)
 * GitHub: https://github.com/alcoranpaul
 * -----
 * Last Modified: Friday, 9th June 2023 4:21:34 pm
 * Modified By: PR (paulreyes74@yahoo.com>)
 * -----
 * -----
 * Description:
 */

.main-content{
    background-color: aqua;
    max-width: 95vw;
    max-height: 95vh;

    .projects-container{
        height: 100%;

        .project-one{
            background-color: red;
        }
        .project-two{
            background-color: beige;
        }
        .project-three{
            background-color: salmon;
        }
    }
    
}