/*
 * File: projectPreview.styles.scss
 * Project: portfolio
 * File Created: Friday, 9th June 2023 4:17:27 pm
 * Author: Paul Adrian Reyes (paulreyes74@yahoo.com)
 * GitHub: https://github.com/alcoranpaul
 * -----
 * Last Modified: Monday, 12th June 2023 11:48:26 am
 * Modified By: PR (paulreyes74@yahoo.com>)
 * -----
 * -----
 * Description:
 */

.main-content{
    // background-color: aqua;
    padding-top: 20px;
    max-width: 85vw;


    
    .leftArrow{
        display: block;
        position: absolute; /* Position the left arrow relative to the container */
        width: 100px;
        top: 45%; /* Position it vertically at the center */
        left: 15%; /* Position it horizontally at the center */
        transform: translate(-50%, -50%); /* Center the left arrow precisely */
        z-index: 1; /* Place the left arrow on top of other elements */
        // background-color: antiquewhite;
        
    }
    
    .rightArrow{
        display: block;
        position: absolute; /* Position the left arrow relative to the container */
        width: 100px;
        top: 39%; /* Position it vertically at the center */
        left: 91%; /* Position it horizontally at the center */
        transform: translate(-50%, -50%); /* Center the left arrow precisely */
        z-index: 1; /* Place the left arrow on top of other elements */
        // background-color: antiquewhite;
        transform: rotate(180deg);

    }

    .arrow {    
        display: block;
        line-height: 0;
        transition: transform 0.3s ease; /* Add a smooth transition effect */

        &:hover {
            cursor: pointer;
            fill: red;
            transform: translateX(-10px); /* Move the arrow 10 pixels to the left on hover */
        }

        &:active {
            transform: translateX(10px); /* Move the arrow 10 pixels to the right when clicked */
        }
    }
    .projects-container{
        height: 85vh;

        .project-one{
            background-color: rgb(182, 84, 84);
        }
        .project-two{
            background-color: beige;
        }
        .project-three{
            background-color: salmon;
        }
    }
    
}