/*
 * File: projectPreview.styles.scss
 * Project: portfolio
 * File Created: Friday, 9th June 2023 4:17:27 pm
 * Author: Paul Adrian Reyes (paulreyes74@yahoo.com)
 * GitHub: https://github.com/alcoranpaul
 * -----
 * Last Modified: Friday, 9th June 2023 4:57:26 pm
 * Modified By: PR (paulreyes74@yahoo.com>)
 * -----
 * -----
 * Description:
 */

.main-content{
    // background-color: aqua;
    padding-top: 20px;
    max-width: 85vw;

    .leftArrow{
        position: absolute; /* Position the left arrow relative to the container */
        top: 45%; /* Position it vertically at the center */
        left: 15%; /* Position it horizontally at the center */
        transform: translate(-50%, -50%); /* Center the left arrow precisely */
        z-index: 1; /* Place the left arrow on top of other elements */
        
        .img {
            stroke-width: 10px;
            
          }
    }
    .projects-container{
        height: 85vh;

        .project-one{
            background-color: rgb(182, 84, 84);
        }
        .project-two{
            background-color: beige;
        }
        .project-three{
            background-color: salmon;
        }
    }
    
}