@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

body {
  margin: 0;
  font-family: "Federo", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  background-color: #0A100D;
  color: #FDF0D5;
}


