@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

:root {
  /* Primary color */
  --color-primary: #902923;

  /* Secondary color */
  --color-secondary: #a22c29;

  /* Accent color */
  --color-accent: #d6d5c9;

  /* Background color */
  --color-background: #0a100d;

  /* Text color */
  --color-text: #fdf0d5;
  --color-strong: #c08402;
  --color-pageContent-h2: #d3cb7a;
  --color-pageContent-h3: #9c9a88;
  --color-pageContent-codeStyle: rgb(252, 73, 41);

  /* Additional colors */
  --color-error: #b9baa3;
  --color-success: #0a100d;
  --color-custom: #fdf0d5;
  --color-dropdownOutline: #D6D5C9;
  --color-dropdownBackground: #474B45;
  --color-skillVerse: #00000093;
  --color-workCard: #85858500;
  --color-contact: #d6d5c921;
  --color-buttonHover: #5e1817;
  --color-linkHover: #d1cb87;
  --color-scroll: #d6d5c975;

}




body {
  margin: 0;
  font-family: "Federo", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    background-color: var(--color-background);
    color: var(--color-text);
}


.button {
  background-color: var(--color-primary);
  color: var(--color-text);
}